<div class="container">
  <div class="text-center col-sm-7 col-sm-offset-3" align="center">
    <% @users = User.all %>
    <% @users.each do |user| %>
      <a href="<%= profile_url(user) %>"><%= image_tag user.image(:medium), class: 'img-responsive', size: '300x300' %></a>
      <%= link_to user.username, profile_url(user) %>
    <% end %>
  
    <hr>
  </div>
</div>