<div class="post">
    <div class="text-center col-sm-7 col-sm-offset-3 list-news" id="posts">
        <div class="thumbnail">
            <a href="<%= post_url(post) %>"><%= image_tag post.image(:medium), :class => 'img-responsive' %></a>
        </div>
    </div>
</div>