<%- model_class = Post -%>
<div class="page-header text-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
Welcome,
<% if user_signed_in? %>
<%= current_user.username %> 
<% else %>
user
<% end %>
<br><br>
<div class="container-fluid">
  <div id="posts">
    <div class="row">
      <%= render @posts %>
    </div>
    <div class="row">
      <%= will_paginate @posts %>
    </div>
  </div>
</div>