<%- model_class = Post -%>
<div class="page-header text-center">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div id="posts">
  <%= render @posts %>
  <%= will_paginate @posts %>
</div>