    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Ventura Design Instag</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Profiles", profiles_path  %></li>
            <li><%= link_to "New", new_post_path  %></li>
            <% if user_session %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
             <li><%= link_to "Register", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>